
   body{
    background-color: #C0B6AB;
   
    
}

header{
    display: flex;
    margin: 0px 40px;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: left;
   
}
.logo{
    padding: 0px 0px;
    width: 10px;
    height:10px;
    margin: 0px 0px;

    
}

/* div a{
display: inline-block;
height: 30px;
width: 90px;
text-align: center;
margin: 20px 20px;
padding: 10px 0px;
background-color: rgb(199, 183, 214);
border-radius: 3px;
color: black;
}
.but{

border-radius: 3px;
color: black;
height: 50px;
width: 90px;
text-align: center;
margin: 20px 20px;
padding: 10px 0px;
background-color: rgb(199, 183, 214);
border-radius: 3px;
color: black;
} */

.A{
    
    background-image: url(./3.png);
    margin: 0px 40px;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;background-repeat: no-repeat;background-position: center;
}
.getstarted{
    display: flex;
     flex-wrap: wrap;
 color: black;
 height: 100px;
 width: 710px;
 text-align: center;
 margin: 300px 350px;
 padding: 10px 20px;
 background-color: transparent;
 color: black;
 box-shadow: 0 0 0 0 #C0B6AB;
 animation: pulse 1.3s infinite;
 }
 @keyframes pulse{
     to{
         box-shadow: 0 0 0 20px rgba(241, 160, 78, 0.1);
     }
 }
.getstarted .imgA{

height: 100px;
width: 650px;
border-radius: 10px;
display: flex;
flex: content;
flex-wrap: wrap;
justify-content: center;

}

/* SECTION 2 */
.B{
    margin: 0px 40px;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: center;
}
.slider-frame{

    width: 800px;
    height: 600px;
   
    background-image: url(./Company\ Learning\ Hub.png);
    -webkit-animation: slide 5s infinite alternate ;
    -webkit-animation-play-state: running;
 
}
@keyframes slide{
    50%{
        background-image: url(./Company\ Learning\ Hub.png);

    }
    50%{
        background-image: url(./Company\ Learning\ Hub\ \(1\).png);
    }
}
/* END */

.C{
    margin: 0px 40px;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content:center;
}
.C-img{

width: auto;
height: 400px;

display: flex;
flex: content;
flex-wrap: wrap;
justify-content: left;
background-size: cover;background-repeat: no-repeat;background-position: center;
}
/* END */
footer{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.reli{
    
        display: inline-block;
        height: 30px;
        width: 90px;
        align-content: stretch;
        text-align: center;
        margin: 20px 20px;
        padding: 10px 0px;
        background-color: #C0B6AB;
        border-radius: 3px;
        color: black;
        
}
.imgfooter{
    width: 90px;
    height: 90px;
}